Presentation/AppUwp2/Connected Services/Wcf/FatturaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/FatturaService.svc?xsd=xsd2" namespace="http://gest.cicciosoft.tk" />
  <xs:element name="GetFatture">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFattureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://gest.cicciosoft.tk" minOccurs="0" name="GetFattureResult" nillable="true" type="q1:ArrayOfFatturaReadOnly" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFattura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFatturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://gest.cicciosoft.tk" minOccurs="0" name="GetFatturaResult" nillable="true" type="q2:Fattura" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFattura">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://gest.cicciosoft.tk" minOccurs="0" name="fattura" nillable="true" type="q3:Fattura" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFatturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://gest.cicciosoft.tk" minOccurs="0" name="SaveFatturaResult" nillable="true" type="q4:Fattura" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFattura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFatturaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticolo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticoloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://gest.cicciosoft.tk" minOccurs="0" name="GetArticoloResult" nillable="true" type="q5:Articolo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://gest.cicciosoft.tk" minOccurs="0" name="GetClienteResult" nillable="true" type="q6:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>