Presentation/AppUwp2/Connected Services/Wcf/FatturaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://gest.cicciosoft.tk" elementFormDefault="qualified" targetNamespace="http://gest.cicciosoft.tk" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFatturaReadOnly">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FatturaReadOnly" nillable="true" type="tns:FatturaReadOnly" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFatturaReadOnly" nillable="true" type="tns:ArrayOfFatturaReadOnly" />
  <xs:complexType name="FatturaReadOnly">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Totale" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FatturaReadOnly" nillable="true" type="tns:FatturaReadOnly" />
  <xs:complexType name="Fattura">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DomainEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Dettagli" nillable="true" type="tns:ArrayOfDettaglio" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Totale" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Fattura" nillable="true" type="tns:Fattura" />
  <xs:complexType name="DomainEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityOfint">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DomainEntity" nillable="true" type="tns:DomainEntity" />
  <xs:complexType name="EntityOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityOfint" Namespace="http://gest.cicciosoft.tk" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityOfint" nillable="true" type="tns:EntityOfint" />
  <xs:complexType name="ArrayOfDettaglio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Dettaglio" nillable="true" type="tns:Dettaglio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDettaglio" nillable="true" type="tns:ArrayOfDettaglio" />
  <xs:complexType name="Dettaglio">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DomainValueObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Articolo" nillable="true" type="tns:Articolo" />
          <xs:element minOccurs="0" name="NomeProdotto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrezzoProdotto" type="xs:int" />
          <xs:element minOccurs="0" name="Quantita" type="xs:int" />
          <xs:element minOccurs="0" name="Totale" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Dettaglio" nillable="true" type="tns:Dettaglio" />
  <xs:complexType name="DomainValueObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ValueObjectOfint">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DomainValueObject" nillable="true" type="tns:DomainValueObject" />
  <xs:complexType name="ValueObjectOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueObjectOfint" Namespace="http://gest.cicciosoft.tk" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueObjectOfint" nillable="true" type="tns:ValueObjectOfint" />
  <xs:complexType name="Articolo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DomainEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Categoria" nillable="true" type="tns:Categoria" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomeCategoria" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Prezzo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Articolo" nillable="true" type="tns:Articolo" />
  <xs:complexType name="Categoria">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DomainEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Categoria" nillable="true" type="tns:Categoria" />
  <xs:complexType name="Cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DomainEntity">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
</xs:schema>