Presentation/AppUwp1/Connected Services/Wcf/FatturaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FatturaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/FatturaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/FatturaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/FatturaService.svc?xsd=xsd2" namespace="http://gest.cicciosoft.tk" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFatturaService_GetFatture_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFatture" />
  </wsdl:message>
  <wsdl:message name="IFatturaService_GetFatture_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFattureResponse" />
  </wsdl:message>
  <wsdl:message name="IFatturaService_GetFattura_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFattura" />
  </wsdl:message>
  <wsdl:message name="IFatturaService_GetFattura_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFatturaResponse" />
  </wsdl:message>
  <wsdl:message name="IFatturaService_SaveFattura_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveFattura" />
  </wsdl:message>
  <wsdl:message name="IFatturaService_SaveFattura_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveFatturaResponse" />
  </wsdl:message>
  <wsdl:message name="IFatturaService_DeleteFattura_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFattura" />
  </wsdl:message>
  <wsdl:message name="IFatturaService_DeleteFattura_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFatturaResponse" />
  </wsdl:message>
  <wsdl:message name="IFatturaService_GetArticolo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArticolo" />
  </wsdl:message>
  <wsdl:message name="IFatturaService_GetArticolo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArticoloResponse" />
  </wsdl:message>
  <wsdl:message name="IFatturaService_GetCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCliente" />
  </wsdl:message>
  <wsdl:message name="IFatturaService_GetCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IFatturaService">
    <wsdl:operation name="GetFatture">
      <wsdl:input wsaw:Action="http://gest.cicciosoft.tk/IFatturaService/GetFatture" message="tns:IFatturaService_GetFatture_InputMessage" />
      <wsdl:output wsaw:Action="http://gest.cicciosoft.tk/IFatturaService/GetFattureResponse" message="tns:IFatturaService_GetFatture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFattura">
      <wsdl:input wsaw:Action="http://gest.cicciosoft.tk/IFatturaService/GetFattura" message="tns:IFatturaService_GetFattura_InputMessage" />
      <wsdl:output wsaw:Action="http://gest.cicciosoft.tk/IFatturaService/GetFatturaResponse" message="tns:IFatturaService_GetFattura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveFattura">
      <wsdl:input wsaw:Action="http://gest.cicciosoft.tk/IFatturaService/SaveFattura" message="tns:IFatturaService_SaveFattura_InputMessage" />
      <wsdl:output wsaw:Action="http://gest.cicciosoft.tk/IFatturaService/SaveFatturaResponse" message="tns:IFatturaService_SaveFattura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFattura">
      <wsdl:input wsaw:Action="http://gest.cicciosoft.tk/IFatturaService/DeleteFattura" message="tns:IFatturaService_DeleteFattura_InputMessage" />
      <wsdl:output wsaw:Action="http://gest.cicciosoft.tk/IFatturaService/DeleteFatturaResponse" message="tns:IFatturaService_DeleteFattura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArticolo">
      <wsdl:input wsaw:Action="http://gest.cicciosoft.tk/IFatturaService/GetArticolo" message="tns:IFatturaService_GetArticolo_InputMessage" />
      <wsdl:output wsaw:Action="http://gest.cicciosoft.tk/IFatturaService/GetArticoloResponse" message="tns:IFatturaService_GetArticolo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCliente">
      <wsdl:input wsaw:Action="http://gest.cicciosoft.tk/IFatturaService/GetCliente" message="tns:IFatturaService_GetCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://gest.cicciosoft.tk/IFatturaService/GetClienteResponse" message="tns:IFatturaService_GetCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFatturaService" type="tns:IFatturaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFatture">
      <soap:operation soapAction="http://gest.cicciosoft.tk/IFatturaService/GetFatture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFattura">
      <soap:operation soapAction="http://gest.cicciosoft.tk/IFatturaService/GetFattura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFattura">
      <soap:operation soapAction="http://gest.cicciosoft.tk/IFatturaService/SaveFattura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFattura">
      <soap:operation soapAction="http://gest.cicciosoft.tk/IFatturaService/DeleteFattura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArticolo">
      <soap:operation soapAction="http://gest.cicciosoft.tk/IFatturaService/GetArticolo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCliente">
      <soap:operation soapAction="http://gest.cicciosoft.tk/IFatturaService/GetCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FatturaService">
    <wsdl:port name="BasicHttpBinding_IFatturaService" binding="tns:BasicHttpBinding_IFatturaService">
      <soap:address location="http://localhost:8000/FatturaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>